
	.head{border-bottom:1px solid #000;text-align: center;height:54px;background-color: #000;position: fixed;top: 0;left: 0;right: 0;z-index: 11;}
	.head__item{display: inline-block; padding:18px 9px;color:#fff;}
	.divider{padding:0 9px;color: #FFF;}
	html, body{margin:0;}

*{box-sizing:border-box;font-size:1.0em;font-family:"Myraid Set Pro Text",tahoma,Arial,verdana,sans-serif;font-size:.99em;}
    .welcome_block-main{position: relative;height:454px;}

a{text-decoration: none;}
.welcome_block-main__photo{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-size:cover;background-position: center;}

.welcome_block-main__photo_layer{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color:#000;opacity:.4;}
.welcome_block-main__photo_body{color:#FFF;z-index:9;position: absolute;top:0;left: 0;right: 0;bottom: 0;text-align: center;}
.welcome_block-main__photo_body_title{font-size:2.9em;margin: 134px 0 24px}
.welcome_block-main__photo_body_body{font-size:1.5em;}



.nav{border-bottom:1px solid #DDD;text-align: center;}
.nav__item{display: inline-block;padding:24px 14px;font-size:1.1em;}
.container-block{width:80%;margin:0 auto;/**padding-top:51px;*/}
.container{text-align:center;padding:24px 0;}





.multi-block{display: inline-block;width:25%;margin:-2px -3px 14px;text-align: center;vertical-align: top;}
.multi-block__photo{width:100%;height:25vh;background-size: cover  ;background-position: center  ;border-radius:14px; }
.multi-block__info_title{margin:9px 0;max-height:67px;overflow: hidden;line-height:21px;font-weight: bold;}
.feed_page{width:74%;margin:0 auto;padding:14px 0;}
.icon{width:17px;height:17px;display: inline-block;}

.multi-block__mark_block{display: inline-block;
    padding: 2px 8px 2px 8px;border-radius:9px;
   background-color:#EEE;cursor: pointer;}
.multi-block__mark_block:hover{background-color:#DDD;}
   .multi-block__counter_title{font-size:.9em;font-weight: bold;position:relative;top:-2px;}
   .photo_bigger{background-position: center;background-size: cover;}
.multi-block__wrap{margin:4px;}


.footer{border-top:1px solid #DDD;text-align:center;padding:14px 0 21px}

.nav__item{color:#000;}
.nav__item_active{color:blue;border-bottom: 1px solid blue;}

.work_multi-block_body{line-height:21px;}